* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

.navbar {
    height: 10vh;
    line-height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.nav-links li {
    color: white;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

.hero{
    text-align: center;
    margin-top: 10%;
    
}

.hero h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Borel', cursive;
    color: #5C8984;
}

button {
    border: none;
    background: none;
    font-size: 20px;   
}

.mobile-menu-icon{
    display: none;
}

@media (max-width: 768px) {
    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
        left: 0;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: #000000;
        color: white;
    }
    ul li {
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }
    .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;
    }
    .hero h1{
        font-size: 50px;
    }
}
