* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
}

.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
}